__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.env.bak
.venv/

.pytest_cache/
.cache/
.coverage
htmlcov/

.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln
*.dbmdl

historico.json
*.log
*.sqlite3

dist/
build/
*.egg-info/
.eggs/

.DS_Store
Thumbs.db

*.manifest
*.spec

.ipynb_checkpoints/

__MACOSX/